<div class="row">
  <div class="col-md-offset-10 col-md-2">
    <%= link_to 'Create Club', new_club_path, class:"btn btn-success", style:"float: right; text-decoration: none" %>
  </div>

  <h1>Clubs Index</h1>
  <div class="list-group">
    <% @clubs.each do |club| %>
        <%= link_to club.name, club, class:"list-group-item" %>
    <% end %>
  </div>
</div>
